.big-icon {
  font-size: 32px;
}
.font-cog {
  color: #ffffff;
}
.progress-bar-custom {
  background-color: #2C3E50 !important;
}
.progress-bar-custom-back {
  background-color: #ffffff !important;
}
